---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout id="sheave" title="Sheave">
  <main>
    <section>
      <h2>Sheave とは</h2>
      <p>RTMP という通信プロトコルの上で映像や音声を送受信するためのメディアサーバとクライアントの実装です。</p>
    </section>
    <section>
      <h2>開発の動機</h2>
      <h3>第三の選択肢</h3>
      <p>
        既存のメディアサーバ製品はとても高品質ですが、同時に高価です。
        個人が実験的に触るツールとしては中々手が出せません。
        そこで、以下の要件を満たすメディアサーバの開発を開始しました。
      </p>
      <ul>
        <li>全製品に共通している機能は無料で使えること。</li>
        <li>オープンソースであり、追加で必要な機能は各自で実装できること。</li>
        <li>VPS のような規模の限られたサービスからでも使えること(マネージド含む)。</li>
      </ul>
      <h3>「素振り」の継続</h3>
      <p>
        私は8年前に職を失いました。
        そこから数年は就職活動としてあちこち周っていましたが、マッチする求人が見つからなくなり、途方に暮れていました。
        だからといってそのまま呆然とすごすわけにもいかなかったので、いわゆる「素振り」の一環として、普及して身近なものとなった動画配信サービスないしはそのサーバプログラムの学習を開始しました。
      </p>
    </section>
    <section>
      <h2>機能</h2>
      <ul>
        <li>RTMP ハンドシェイク</li>
      </ul>
    </section>
    <section>
      <h2>リポジトリとドキュメント</h2>
      <h3>リポジトリ</h3>
      <ul>
        <li class="github"><a href="https://github.com/t-matsudate/sheave">GitHub</a></li>
      </ul>
      <h3>ドキュメント</h3>
      <ul>
        <li class="github"><a href="https://t-matsudate.github.io/sheave/sheave_core">コアライブラリ</a></li>
      </ul>
    </section>
  </main>
</DefaultLayout>

<style lang="scss">
  main {
    section {
      &:nth-child(even) {
        @include theme-color;
      }

      & > * {
        padding: 0.5em 0;

        &:first-child {
          padding-top: 1em;
        }

        &:last-child {
          padding-bottom: 1em;
        }
      }

      padding: 0 2rem;
      min-height: var(--device-height);

      h2 {
        font-size: 2rem;
        font-weight: normal;
        font-style: normal;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        font-style: normal;
      }

      p {
        line-height: 1.5rem;
      }

      ul {
        margin: 0 1rem;

        li {
          margin: 1rem 0;
          padding-left: 1rem;

          &.github::marker {
            @extend .fa-brands, .fa-github;

            content: fa-content($fa-var-github);
          }
        }
      }
    }
  }
</style>
